<section class="py-16 relative overflow-hidden pt-32">
	<!-- Icono central -->
	<div class="flex justify-center mb-4">
		<div class="bg-white shadow-lg rounded-full w-20 h-20 flex items-center justify-center">
			<i class="fa-solid fa-bullhorn text-4xl text-teal-500"></i>
		</div>
	</div>
	<!-- Título y subtítulo -->
	<div class="text-center mb-10">
		<h2 class="text-3xl sm:text-4xl geom-bold text-black mb-2">NUESTROS <span class="text-teal-500">SERVICIOS</span>
		</h2>
		<p class="text-black geom-regular max-w-xl mx-auto">Descubre las soluciones que diseñamos para impulsar tu
			negocio. Cada
			servicio está pensado para resolver problemas reales y ayudarte a crecer con tecnología práctica y
			eficiente.</p>
	</div>
	<!-- Card de servicios -->
	<div class="max-w-4xl mx-auto relative">
		<div class="bg-teal-500 rounded-2xl shadow-xl p-8 sm:p-12 grid grid-cols-1 sm:grid-cols-2 gap-x-8 gap-y-8">
			<!-- Mobile Applications -->
			<div class="flex items-start gap-4">
				<span
					class="inline-flex items-center justify-center h-12 w-12 rounded-lg bg-white text-teal-500 text-2xl">
					<i class="fa-solid fa-mobile-screen-button"></i>
				</span>
				<div>
					<h3 class="geom-bold text-lg text-white">TIENDAS VIRTUALES</h3>
					<p class="text-gray-200 geom-regular text-sm">Creamos tiendas virtuales rápidas, seguras y listas
						para vender</p>
				</div>
			</div>
			<!-- Web Application -->
			<div class="flex items-start gap-4">
				<span
					class="inline-flex items-center justify-center h-12 w-12 rounded-lg text-teal-500 bg-white text-2xl">
					<i class="fa-solid fa-window-restore"></i>
				</span>
				<div>
					<h3 class="geom-bold text-lg text-white">PAGINAS WEB</h3>
					<p class="text-gray-200 geom-regular text-sm">Desarrollamos páginas web modernas, veloces y
						adaptadas</p>
				</div>
			</div>
			<!-- SEO -->
			<div class="flex items-start gap-4 border-t pt-6 sm:border-t-0 sm:pt-0">
				<span
					class="inline-flex items-center justify-center h-12 w-12 rounded-lg bg-white text-teal-500 text-2xl">
					<i class="fa-solid fa-rocket"></i>
				</span>
				<div>
					<h3 class="geom-bold text-lg text-white">SEO</h3>
					<p class="text-gray-200 geom-regular text-sm">Optimizamos tu presencia en buscadores para que te
						puedan encontrar
					</p>
				</div>
			</div>
			<!-- AR/VR Solutions -->
			<div class="flex items-start gap-4 border-t pt-6 sm:border-t-0 sm:pt-0">
				<span
					class="inline-flex items-center justify-center h-12 w-12 rounded-lg bg-white text-teal-500 text-2xl">
					<i class="fa-solid fa-vr-cardboard"></i>
				</span>
				<div>
					<h3 class="geom-bold text-lg text-white">SISTEMAS DE GESTIÓN</h3>
					<p class="text-gray-200 text-sm geom-regular">Creamos sistemas de gestión que ordenan tu operación
					</p>
				</div>
			</div>
		</div>
		<!-- Líneas divisorias -->
		<div class="hidden sm:block absolute top-1/2 left-0 w-full border-t border-gray-450" style="z-index:1;"></div>
		<div class="hidden sm:block absolute top-0 left-1/2 h-full border-l border-gray-450" style="z-index:1;"></div>
		<!-- Decoración superior derecha -->
		<div class="absolute -top-6 right-0">
			<span class="inline-block w-8 h-8 bg-teal-500 rounded-full shadow-lg rotate-12"></span>
			<span class="inline-block w-4 h-4 bg-teal-500 rounded-full shadow-lg -ml-2"></span>
		</div>
	</div>
</section>

<!-- Hero tipo servicios (agregado al final) -->
<section class="w-full bg-white py-16">
	<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex flex-col md:flex-row items-center gap-10">
		<!-- Texto -->
		<div class="flex-1 mb-8 md:mb-0">
			<h2 class="text-3xl sm:text-4xl geom-bold mb-4">
				¿POR QUE <span class="text-teal-500">SOMOS LA MEJOR</span><br class="hidden sm:block"><span
					class="text-teal-500">ALIADA</span> PARA TU NEGOCIO?
			</h2>
			<p class="text-gray-500 geom-regular mb-3">Te ofrecemos soluciones claras, personalizadas y confiables que
				aceleran tu
				crecimiento. Trabajamos contigo para convertir tus ideas en resultados reales.</p>
			<p class="text-gray-500 mb-6 geom-regular">Nos enfocamos en comprender tu negocio y darte exactamente lo que
				necesitas.
				Sin complicaciones, sin promesas vacías, solo tecnología que funciona.</p>
			<a href="https://wa.me/51910897162?text=Hola,%20estoy%20buscando%20un%20sistema%20para%20mi%20empresa%20y%20quisiera%20una%20cotización."
				class="inline-flex items-center px-6 py-4 bg-teal-500 hover:bg-teal-600 hover:cursor-pointer text-white text-sm font-bold rounded-lg">
				CONTACTO
				<i class="pt-0.5 fa-solid fa-arrow-right ml-2"></i>
			</a>
		</div>
		<!-- Imagen ilustrativa -->
		<div class="flex-1 flex justify-center">
			<img src="apc_img5.png" alt="Team working illustration"
				class="max-w-xs sm:max-w-md md:max-w-lg w-full drop-shadow-xl rounded-2xl" />
			<!-- Usa tu propia imagen en /assets/hero-services.png -->
		</div>
	</div>
</section>

<section id="planes" class="bg-white">
	<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
		<div
			class="bg-[#111212] flex flex-col md:flex-row items-center md:items-start justify-between rounded-xl px-4 sm:px-8 py-8 gap-8">
			<div class="flex-1">
				<span class="block text-teal-500 geom-bold text-sm mb-1">SERVICIOS</span>
				<h2 class="text-3xl sm:text-5xl geom-bold text-white mb-2 tracking-tight">
					NUESTROS <span class="text-teal-500">PLANES</span>
				</h2>
			</div>
			<div class="flex-1 flex items-center">
				<div class="hidden md:block h-16 border-l-4 border-teal-500 mr-6"></div>
				<div>
					<p class="text-gray-100 geom-regular text-lg leading-snug">
						Nuestros planes a un precio perfecto para potenciar tu negocio con tecnologia.
					</p>
				</div>
			</div>
		</div>

		<div class="flex items-center justify-center p-6">
			<div class="grid grid-cols-1 md:grid-cols-3 gap-8 w-full max-w-6xl">

				<!-- Diseño Web Personalizado -->
				<div class="bg-teal-500 text-white rounded-xl shadow-lg p-8 relative flex flex-col">
					<h2 class="text-2xl geom-bold mb-2">PAGINA WEB A MEDIDA</h2>
					<p class="mb-4 text-gray-100 geom-regular">Perfecto para emprendedores</p>
					<p class="text-3xl geom-bold mb-6">S/250 <span class="text-base geom-regular">Pago único</span>
					</p>
					<ul class="space-y-2 mb-6 geom-regular">
						<li><i class="fas fa-check-circle mr-2"></i>Hasta 7 secciones personalizadas</li>
						<li><i class="fas fa-check-circle mr-2"></i>Diseño a medida y moderno</li>
						<li><i class="fas fa-check-circle mr-2"></i>Diseño adaptable</li>
						<li><i class="fas fa-check-circle mr-2"></i>Sitio administrable fácilmente</li>
						<li><i class="fas fa-check-circle mr-2"></i>Formulario de contacto funcional</li>
						<li><i class="fas fa-check-circle mr-2"></i>Formulario de contacto</li>
						<li><i class="fas fa-check-circle mr-2"></i>Integración con WhatsApp</li>
						<li><i class="fas fa-check-circle mr-2"></i>Soporte técnico 365 días</li>
					</ul>
					<button (click)="abrirWhatsAppPaginaWeb()"
						class="mt-auto bg-gray-900 geom-bold py-2 px-4 rounded hover:bg-gray-800 transition">Solicitar
						servicio</button>
					<p class="mt-4 text-sm text-gray-200 geom-regular">Tiempo de desarrollo 5 días</p>
				</div>

				<!-- Hosting -->
				<div class="bg-gray-800 text-white rounded-xl shadow-lg p-8 flex flex-col">
					<h2 class="text-2xl geom-bold mb-2">SISTEMA DE GESTIÓN</h2>
					<p class="mb-4 text-gray-300 geom-regular">Gestiona tu negocio sin complicaciones</p>
					<p class="text-3xl geom-bold mb-6">S/350 <span class="text-base geom-regular">Pago unico</span>
					</p>
					<ul class="space-y-2 mb-6 geom-regular">
						<li><i class="fas fa-check-circle mr-2"></i>Acceso desde cualquier dispositivo</li>
						<li><i class="fas fa-check-circle mr-2"></i>Gestión de productos y clientes</li>
						<li><i class="fas fa-check-circle mr-2"></i>Reportes automáticos</li>
						<li><i class="fas fa-check-circle mr-2"></i>Panel administrable</li>
						<li><i class="fas fa-check-circle mr-2"></i>Integración con correo electrónico</li>
						<li><i class="fas fa-check-circle mr-2"></i>Notificaciones y alertas</li>
						<li><i class="fas fa-check-circle mr-2"></i>Soporte técnico 365 días</li>
						<li><i class="fas fa-check-circle mr-2"></i>Backup automático</li>
					</ul>
					<button (click)="abrirWhatsAppSisGest()"
						class="mt-auto bg-teal-500 geom-bold py-2 px-4 rounded hover:bg-teal-600 transition">Solicitar
						servicio</button>
					<p class="geom-regular mt-4 text-sm text-gray-400">Tiempo de desarrollo 7 días</p>
				</div>

				<!-- Dominio -->
				<div class="bg-gray-800 text-white rounded-xl shadow-lg p-8 flex flex-col">
					<h2 class="text-2xl geom-bold mb-2">TIENDA VIRTAL</h2>
					<p class="mb-4 text-gray-300 geom-regular">Tu negocio en internet</p>
					<p class="text-3xl geom-bold mb-6">S/400 <span class="text-base geom-regular">Pago unico</span>
					</p>
					<ul class="space-y-2 mb-6 geom-regular">
						<li><i class="fas fa-check-circle mr-2"></i>Catálogo de productos ilimitado</li>
						<li><i class="fas fa-check-circle mr-2"></i>Carrito de compras</li>
						<li><i class="fas fa-check-circle mr-2"></i>Metodos de pago integrados</li>
						<li><i class="fas fa-check-circle mr-2"></i>Diseño responsive y moderno</li>
						<li><i class="fas fa-check-circle mr-2"></i>Panel de administración fácil de usar</li>
						<li><i class="fas fa-check-circle mr-2"></i>Formulario de contacto y WhatsApp</li>
						<li><i class="fas fa-check-circle mr-2"></i>Envíos y seguimiento de pedidos</li>
						<li><i class="fas fa-check-circle mr-2"></i>Soporte técnico 365 días</li>
					</ul>
					<button (click)="abrirWhatsAppTiendaVirtual()"
						class="mt-auto bg-teal-500 geom-bold py-2 px-4 rounded hover:bg-teal-600 transition">Solicitar
						servicio</button>
					<p class="mt-4 text-sm text-gray-400 geom-regular">Tiempo de desarrollo 7 días</p>
				</div>

			</div>
		</div>
	</div>
</section>

<!-- Sección de estadísticas y proyectos recientes -->

<section class="bg-white py-20">
	<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
		<div
			class="bg-[#111212] flex flex-col md:flex-row items-center md:items-start justify-between rounded-xl mb-10 px-4 sm:px-8 py-8 gap-8">
			<div class="flex-1">
				<span class="block text-teal-500 geom-regular text-sm mb-1">CREACIÓN</span>
				<h2 class="text-3xl sm:text-5xl geom-bold text-white mb-2 tracking-tight">
					ESTILO Y <span class="text-teal-500">REFERENCIAS</span>
				</h2>
			</div>
			<div class="flex-1 flex items-center">
				<div class="hidden md:block h-16 border-l-4 border-teal-500 mr-6"></div>
				<div>
					<p class="geom-regular text-gray-100 text-lg leading-snug">
						Estos ejemplos representan el tipo de soluciones que podemos construir para tu negocio con
						diseño UX y funcionalidad.
					</p>
				</div>
			</div>
		</div>
		<div class="grid grid-cols-1 md:grid-cols-2 gap-10">
			<!-- Proyecto 1 -->
			<div class="hover:cursor-pointer hover:p-2">
				<div (click)="navegarSitioWeb('https://fenixge.com/')">
					<img src="fenix.PNG" alt="Villa Estancia" class="w-full h-56 object-cover rounded-2xl mb-4" />
					<h3 class="text-xl geom-bold mb-2">Fen<span class="text-teal-500">ix</span> <span
							class="text-gray-400 geom-regular"> - Telecomunicaciones</span> </h3>
					<p class="pb-2 text-gray-700 geom-regular text-sm">Sitio web corporativo para una empresa de
						telecomunicaciones, con información clara sobre sus servicios, planes disponibles y canales de
						contacto.</p>
				</div>

				<a href="https://wa.me/51910897162?text=Hola,%20estoy%20interesado(a)%20en%20diseñar%20una%20página%20web%20para%20mi%20empresa%20de%20telecomunicaciones%20y%20quisiera%20recibir%20una%20cotización."
					class="inline-flex items-center px-6 py-3 bg-teal-500 hover:bg-teal-600 hover:cursor-pointer text-white text-sm font-bold rounded-lg">
					SOLICITAR MODELO
					<i class="pt-0.5 fa-solid fa-arrow-right ml-2"></i>
				</a>

			</div>
			<!-- Proyecto 2 -->
			<div class="cursor-pointer hover:p-2">
				<div (click)="navegarSitioWeb('https://takami.co/')">
					<img src="takami.PNG" class="w-full h-56 object-cover rounded-2xl mb-4" />
					<h3 class="text-xl font-bold mb-2"><span class="text-teal-500">Taka</span>mi <span
							class="text-gray-400 geom-regular"> - Restaurant</span> </h3>
					<p class="pb-2 text-gray-700 text-sm geom-regular">Sitio web informativo para un restaurante, con
						presentación del concepto gastronómico, carta digital, horarios de atención y datos de contacto.
					</p>
				</div>

				<a href="https://wa.me/51910897162?text=Hola,%20estoy%20interesado(a)%20en%20diseñar%20una%20página%20web%20para%20mi%20restaurante%20y%20quisiera%20recibir%20una%20cotización."
					class="inline-flex items-center px-6 py-3 bg-teal-500 hover:bg-teal-600 hover:cursor-pointer text-white text-sm font-bold rounded-lg">
					SOLICITAR MODELO
					<i class="pt-0.5 fa-solid fa-arrow-right ml-2"></i>
				</a>

			</div>

			<!-- Proyecto 2 -->
			<div class="cursor-pointer hover:p-2">
				<div (click)="navegarSitioWeb('https://www.cyamoda.com/')">
					<img src="c&a.PNG" class="w-full h-56 object-cover rounded-2xl mb-4" />
					<h3 class="text-xl font-bold mb-2">C<span class="text-teal-500">&</span>A <span
							class="text-gray-400 geom-regular"> - Tienda de ropa</span> </h3>
					<p class="pb-2 text-gray-700 text-sm geom-regular">Un sitio web para mostrar el catálogo de
						prendas, promociones vigentes y datos de las tiendas, incluyendo navegación clara por
						categorías.
					</p>
				</div>

				<a href="https://wa.me/51910897162?text=Hola,%20estoy%20interesado(a)%20en%20diseñar%20una%20página%20web%20para%20mi%20tienda%20de%20ropa%20y%20quisiera%20recibir%20una%20cotización."
					class="inline-flex items-center px-6 py-3 bg-teal-500 hover:bg-teal-600 hover:cursor-pointer text-white text-sm font-bold rounded-lg">
					SOLICITAR MODELO
					<i class="pt-0.5 fa-solid fa-arrow-right ml-2"></i>
				</a>

			</div>

			<!-- Proyecto 2 -->
			<div class="cursor-pointer hover:p-2">
				<div (click)="navegarSitioWeb('https://takami.co/')">
					<img src="ultragym.PNG" class="w-full h-56 object-top rounded-2xl mb-4" />
					<h3 class="text-xl font-bold mb-2"><span class="text-teal-500">Ultra</span>Gym <span
							class="text-gray-400 geom-regular"> - Gimnasio</span> </h3>
					<p class="pb-2 text-gray-700 text-sm geom-regular">Un sitio web informativo para presentar planes de
						entrenamiento, horarios, servicios y promociones,
						mejorando comunicación con los clientes.</p>
				</div>

				<a href="https://wa.me/51910897162?text=Hola,%20estoy%20interesado(a)%20en%20diseñar%20una%20página%20web%20para%20mi%20gimnasio%20y%20quisiera%20recibir%20una%20cotización."
					class="inline-flex items-center px-6 py-3 bg-teal-500 hover:bg-teal-600 hover:cursor-pointer text-white text-sm font-bold rounded-lg">
					SOLICITAR MODELO
					<i class="pt-0.5 fa-solid fa-arrow-right ml-2"></i>
				</a>

			</div>
		</div>
	</div>
</section>