.geom-regular {
  font-family: "Geom", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.geom-bold {
  font-family: "Geom", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}